{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Operator Panel</h2>
    <h3>Window №{{ window.number }} — {{ window.service.name }}</h3>

    <form method="POST" action="{% url 'toggle_window' %}">
        {% csrf_token %}
        {% if window.is_open %}
            <button class="btn btn-skip">🔴 Close Window</button>
        {% else %}
            <button class="btn btn-done">🟢 Open Window</button>
        {% endif %}
    </form>
    <br>
    <div class="current-client">
        <h3>Current Client</h3>
        {% if current_ticket %}
            <div class="current-number">{{ current_ticket.number }}</div>
            <p>Service: {{ current_ticket.service.name }}</p>
            <br>
            <a href="{% url 'chat' current_ticket.pk %}" class="btn">💬 Chat</a>
            <br><br>
            <form method="POST" action="{% url 'done_ticket' current_ticket.pk %}" style="display:inline">
                {% csrf_token %}
                <button class="btn btn-done">✅ Done</button>
            </form>
            <form method="POST" action="{% url 'skip_ticket' current_ticket.pk %}" style="display:inline">
                {% csrf_token %}
                <button class="btn btn-skip">❌ Skip</button>
            </form>
        {% else %}
            <p>No current client</p>
        {% endif %}
    </div>

    <div class="card">
        <h3>Queue</h3>
        {% for ticket in queue %}
            <div class="queue-item">
                <span>{{ ticket.number }}</span>
                <span>{{ ticket.service.name }}</span>
                <a href="{% url 'chat' ticket.pk %}" class="btn" style="padding:4px 10px;font-size:12px;">💬</a>
            </div>
        {% empty %}
            <p>Queue is empty</p>
        {% endfor %}
    </div>

    <form method="POST" action="{% url 'next_client' %}">
        {% csrf_token %}
        <button class="btn">➡️ Next Client</button>
    </form>

    <meta http-equiv="refresh" content="10">
</div>
{% endblock %}