{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Welcome to QueueBank</h2>
    <h3>Choose a service</h3>

    <div class="services">
        {% for service in services %}
        <div class="service-card">
            <div class="service-code">{{ service.code }}</div>
            <h3>{{ service.name }}</h3>
            <p>{{ service.description }}</p>
            <br>
            <a href="{% url 'take_ticket' service.pk %}" class="btn">Take Ticket</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}